.total{
    padding: 50px;
  position:relative;
  margin:50px;
  width:50%;
  height:1000px;
 
  
}
.head{
  border:2px solid black;
  height:100px;
  width:100px;
  border-radius: 50px ;
  top:20px;
  left:200px;
  position : absolute;
  z-index:1;
  background-color:brown;
}
.body{
 width:200px;
  height:200px;
  border:2px solid black;
  border-radius:90px;
  position : absolute;
  top:90px;
  left:150px;
  z-index:-1;
  background-color: green;
}
.lefteye{
  border:2px solid black;
  height:20px;
  width:20px;
  border-radius:15px;
  position:absolute;
  top:15px;
  left:15px;
  background-color:black;

}
.righteye{
  border:2px solid black;
  height:20px;
  width:20px;
  border-radius:15px;
  position:absolute;
  top:15px;
  left:60px;
  background-color:black;
}
.lefthand{
  display:block;
  border:2px solid black;
  width:100px;
  transform:rotate(45deg);
  position:absolute;
  top:100px;
  left:76.5px;
}
.righthand{
  display:block;
  border:2px solid black;
  width:100px;
  transform:rotate(-45deg);
  position:absolute;
  top:100px;
  left:321.5px;
}
.leftcap{
    display:block;
  border:2px solid black;
  width:35px;
  transform:rotate(-45deg);
  position:absolute;
  top:10px;
  left:220.5px;
    background-color:blue;

}
.rightcap{
  display:block;
  border:2px solid black;
  width:35px;
  transform:rotate(45deg);
  position:absolute;
  top:10px;
  left:245.5px;
  background-color:blue;
}

.lefthand{
  display:block;
  border:2px solid black;
  width:100px;
  transform:rotate(45deg);
  position:absolute;
  top:100px;
  left:76.5px;
}
.rightleg{
  display:block;
  border:2px solid black;
  width:100px;
  transform:rotate(90deg);
  position:absolute;
  top:330px;
  left:250.5px;
}
.leftleg{
    display:block;
  border:2px solid black;
  width:100px;
  transform:rotate(90deg);
  position:absolute;
  top:330px;
  left:150.5px;
}
.mouth{
   border:2px solid black;
  width:40px;
  top:60px;
  left:30px;
  position : absolute;
  z-index:1;
}
.button1{
  width:20px;
  height:20px;
  border:2px solid white;
  background-color:black;
  border-radius:15px;
  position:absolute;
  top:90px;
  left:90px;
}
.button2{
  width:20px;
  height:20px;
  border:2px solid white;
  background-color:black;
  border-radius:15px;
  position:absolute;
  top:40px;
  left:90px;
}
.button3{
  width:20px;
  height:20px;
  border:2px solid white;
  background-color:black;
  border-radius:15px;
  position:absolute;
  top:140px;
  left:90px;
}
h1{
  position:absolute;
  top:400px;
  left:110px;
}